@model IEnumerable<Harmic.Models.TbProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Quản lý sản phẩm</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Simple Tables</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title"><a asp-action="Create">Thêm mới</a></h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>STT</th>
										<th>Tên</th>
										<th>Danh mục</th>
										<th>Giá</th>
										<th>Khuyến mãi</th>
										<th>Ảnh</th>
										<th>Mới</th>
										<th>Bán chạy</th>
										<th>Tồn kho</th>

										<th>Hiện</th>
										<th class="col-3"></th>
									</tr>
								</thead>
								<tbody>
									@{
										int i = 1;
										foreach (var item in Model)
										{
											<tr>
												<td>@(i++)</td>
												<td>@Html.DisplayFor(modelItem => item.Title)</td>
												<td>@Html.DisplayFor(modelItem => item.CategoryProduct.Title)</td>
												<td>@Html.DisplayFor(modelItem => item.Price)</td>
												<td>@Html.DisplayFor(modelItem => item.PriceSale)</td>
												<td><img src="@Html.DisplayFor(modelItem => item.Image)" width="50" height="50"/></td>
												<td>@Html.DisplayFor(modelItem => item.IsNew)</td>
												<td>@Html.DisplayFor(modelItem => item.IsBestSeller)</td>
												<td>@Html.DisplayFor(modelItem => item.UnitInStock)</td>
												<td>@Html.DisplayFor(modelItem => item.IsActive)</td>
												<td class="row d-flex justify-content-between col-12">
													<a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary col-3">Sửa</a>

													<a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-info col-3">Chi tiết</a>

													<a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger col-3">Xóa</a>
												</td>
											</tr>
										}
									}
								</tbody>
							</table>
						</div>
						<!-- /.card-body -->
						<div class="card-footer clearfix">
							<ul class="pagination pagination-sm m-0 float-right">
								<li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
							</ul>
						</div>
					</div>
					<!-- /.card -->

				</div>

			</div>


		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>